::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #515151;
}

::-webkit-scrollbar-thumb:hover {
    background: #8a8a8a;
}

::-webkit-scrollbar-track {
    background: #cecece;
    border-radius: 8px;
}